/* deletePopup.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal {
    position: relative;
    width: 80%; /* Adjust as needed */
    max-width: 400px; /* Adjust as needed */
    background: #d3d3d3;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    padding: 20px;
    overflow: auto;
    margin: auto; /* Center horizontally */
    max-height: 80%; /* Adjust as needed */
  }
  
  .btn-close {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #ffffff; /* Adjust text color as needed */
  }
  
  .habit-entry {
    display: flex;
    flex-direction: row; /* Updated to row for horizontal layout */
    justify-content: space-between; /* Align items to the start and end of the container */
    align-items: center;
    margin-bottom: 15px; /* Adjust margin as needed */
  }
  
  .habit-name {
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  .delete-btn {
    border: none;
    background-color: #ff3c3c; /* Adjust background color as needed */
    color: #ffffff; /* Adjust text color as needed */
    padding: 10px; /* Adjust padding to make buttons the same size */
    border-radius: 5px;
    cursor: pointer;
  }
  