nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #333; /* Add your desired background color */
  border-radius: 10px;
}

nav button {
  background-color: #464242;
}

.logo-container {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
}

.links a {
  color: white; /* Add your desired text color */
  margin-right: 10px;
  text-decoration: none;
}

.links .signout {
  background-color: transparent;
  border: none;
  color: inherit; /* Inherit text color */
  cursor: pointer;
  font-size: inherit; /* Inherit font size */
  outline: none;
  padding: 0;
}

.links a:hover {
  text-decoration: underline;
}

nav a {
  color: white; /* Add your desired text color */
  margin-right: 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#lightDarkButton {
  background-color: black; /* Corrected typo */
  border: none;
  cursor: pointer;
}

#lightDarkButton img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

#lightDarkButton:hover {
  opacity: 0.8; /* Add a hover effect if desired */
}

.text {
  margin-left: 10px; /* Adjust the margin to position it on the left */
}

.navbar-dark {
  background-color: #000000;
  color: #fff;
}

/* Light mode */
.navbar-light {
  background-color: #e4e5f1;
  color: #333;
}